#header {
    .main-header {

        // ==========================Search Bar Header ========================== //
        .search-bar-container {
            position   : relative;
            height     : 100%;
            display    : flex;
            align-items: center;

            .search-item {
                cursor: pointer;
            }

            .search-box {
                position        : absolute;
                top             : 3.6rem;
                left            : 0;
                width           : 100%;
                height          : fit-content;
                border-radius   : 0.25rem;
                background-color: white;
                box-shadow      : 0 0 0 1px rgba(0, 0, 0, 0.05);

                .title-box {
                    background-color: #f3f3f3;
                    margin          : 0;
                    padding         : 0.5rem 1rem;
                    font-size       : 0.9rem;
                    font-weight     : 500;
                    color           : #555;
                }

                .product-box {

                    .product-name {
                        color        : #333;
                        font-weight  : 600;
                        font-size    : 0.8rem;
                        padding-left : 0.5rem;
                        padding-right: 0.5rem;
                    }

                    .product-container {
                        padding        : 0.5rem;
                        text-decoration: none;
                        gap            : 1rem;

                        .product-image {
                            width     : 3rem;
                            height    : 3rem;
                            object-fit: contain;
                        }

                        &:hover {
                            background-color: #f3f3f3;
                        }

                        .product-info {
                            .product-title {
                                color      : #333;
                                font-weight: 600;
                                font-size  : 0.8rem;
                            }

                            .product-price {
                                font-size  : 0.8rem;
                                color      : red;
                                font-weight: 600;
                                gap        : 0.5rem;

                                .product-old-price {
                                    font-size      : 0.8rem;
                                    color          : #555;
                                    font-weight    : 500;
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }
                }
            }

            .search-box-layout {
                z-index         : -1;
                background-color: rgba(0, 0, 0, 0.15);
                position        : fixed;
                top             : 0;
                left            : 0;
                right           : 0;
                bottom          : 0;
            }
        }
    }
}