* {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}

body {
    font-family     : "Poppins", sans-serif;
    font-size       : 0.875rem;
    font-weight     : normal;
    background-color: $main_background;
    height          : -webkit-fit-content;
    height          : -moz-fit-content;
    height          : fit-content;
}

.checked {
    color: orange;
}

.hidden {
    display: none !important;
}

.blur {
    -webkit-filter: invert(56%) sepia(0%) saturate(3735%) hue-rotate(321deg) brightness(97%) contrast(74%);
    filter        : invert(56%) sepia(0%) saturate(3735%) hue-rotate(321deg) brightness(97%) contrast(74%);
}

.error {
    font-size : 0.875rem;
    font-style: italic;
    color     : red;
}