* {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}

body {
    font-family     : "Poppins", sans-serif;
    background-color: $main_background;
    height: 1000px;
}

.checked {
    color: orange;
}