@import "components/header/top-header";
@import "components/header/menu-main-header";
@import "components/header/mechanism-main-header";
@import "components/header/search-bar-main-header";

#header {
    position        : fixed;
    z-index         : 9999;
    inset           : 0 0 auto 0;
    background-color: white;
    height          : 7rem;

    .hidden {
        display: none !important;
    }

    // ==========================Main Header ========================== //

    .main-header {
        border-bottom: 0.0625rem solid $color_separate_line;

        .dropdown-toggle:not(.nav-dropdown-toggle) {
            &::after {
                display: none !important;
            }
        }
    }

}