#promotion-slider {
    position  : relative;
    margin-top: 7rem;
    z-index   : 1;

    .promotion-container {
        .promotion-img {
            width : 100%;
            height: 20.5rem;
        }
    }

    @include control-slide($url_button_next_promotion, $url_button_prev_promotion, 0.3rem, 0.4rem);
}