// ============================Color============================ //
// Header:
$top_header            : hsl(0, 0%, 0%);
$color_top_header-blur : hsl(223, 8%, 66%);
$color-top-header-light: hsl(0, 0%, 100%);
$color_main_header     : hsl(0, 0%, 0%);

// Background:
$search_background       : hsl(228, 100%, 98%);
$main_background         : hsl(0, 0%, 100%);
$header_background       : hsl(0, 0%, 100%);
$paypal_button_background: hsl(43, 100%, 50%);

$primary_color : hsl(220, 100%, 50%);
$secondary_color : hsl(220, 80%, 40%);

// Search Bar:
$color_search_bar : hsl(0, 0%, 46%);

// Cart:
$color_cart_info: hsl(223, 8%, 66%);
$color_separate_line: hsl(227, 15%, 82%);

// ============================Font============================ //

$primary_font_size: 0.875rem;

// ============================Image=========================== //

$url_button_next_promotion: "../img/button_next_promotion.svg";
$url_button_prev_promotion: "../img/button_prev_promotion.svg";

$url_button_next_product_slider: "../img/button_next_product_slider.svg";
$url_button_prev_product_slider: "../img/button_prev_product_slider.svg";