#pagination {
    display        : flex;
    justify-content: end;

    a {
        color          : black;
        min-width      : 2rem;
        padding        : 0.3rem 0;
        display        : inline-flex;
        justify-content: center;
        align-items    : center;
        text-decoration: none;
        transition     : background-color .3s;
        border         : 1px solid #ddd;
        border-radius  : 0.25rem;
        margin         : 0 0.25rem;
        font-size      : 0.875rem;
        font-family    : Poppins;
        font-weight    : normal;
    }

    a.current {
        background-color: #1a9cb7;
        color           : white;
        border          : 1px solid #1a9cb7;
    }

    a:hover:not(.active) {
        background-color: #1a9cb7;
        cursor          : pointer;
    }
}