// Home Start

#product-slider {
    .multiple-product-slider {

        .product-card-container {
            padding: 0.3125rem;
            @include card-product();
        }

        .slick-list.draggable {
            margin-right: -0.3125rem;
            margin-left : -0.3125rem;
            overflow-x  : hidden;
        }

        @include control-slide($url_button_next_product_slider, $url_button_prev_product_slider, 0rem, 0rem);
    }

    .product-slider__desc {
        &__title {
            color      : #000;
            font-family: Poppins;
            font-size  : 1.375rem;
            font-style : normal;
            font-weight: 600;
            line-height: normal;
        }

        &__link {
            color                       : #0156FF;
            text-align                  : right;
            font-family                 : Poppins;
            font-size                   : 0.8125rem;
            font-style                  : normal;
            font-weight                 : 400;
            line-height                 : .93438rem;
            -webkit-text-decoration-line: underline;
            text-decoration-line        : underline;
        }
    }
}

#brand {
    .item-brand {
        max-width: 9rem;
    }

}

#product-card-container {
    @include card-product();
}

.search-no-result {
    &__title {
        font-size     : 2rem;
        font-weight   : 500;
        padding-bottom: 1rem;
    }

    &__desc {
        font-size     : 1rem;
        font-weight   : 400;
        color         : #555;
        padding-bottom: 1rem;
    }

    &__icon {
        font-size  : 5rem;
        font-weight: 300;
        color      : #555;
        padding-top: 2rem;
    }
}